#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "uPll/Clk50" 200.0 MHz;
#FREQUENCY NET "PinTfpClkP_i" 200.0 MHz;
#FREQUENCY NET "uSimulacion/Reloj1hz" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "uSimulacion/Reloj1hz"  TO CLKNET "uSimulacion/Reloj1hz"  2X;


# Block Path Constraints 
#BLOCK PATH FROM CLKNET "PinTfpClkP_i" TO CLKNET "uPll/Clk50";
#BLOCK PATH FROM CLKNET "uPll/Clk50" TO CLKNET "PinTfpClkP_i";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
