#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
#FREQUENCY NET "top_reveal_coretop_instance/jtck[0]" 200.0 MHz;
#FREQUENCY PORT "PinClk125" 200.0 MHz;
#FREQUENCY PORT "SCLK" 200.0 MHz;
#FREQUENCY NET "TOPvideo/uPll/Clk50" 200.0 MHz;
#FREQUENCY NET "TOPvideo/PinTfpClkP_c" 200.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "TOPvideo/PinTfpClkP_c" TO CLKNET "TOPvideo/uPll/Clk50";
#BLOCK PATH FROM CLKNET "TOPvideo/PinTfpClkP_c" TO CLKNET "SCLK_c";
#BLOCK PATH FROM CLKNET "TOPvideo/PinTfpClkP_c" TO CLKNET "PinClk125_c";
#BLOCK PATH FROM CLKNET "TOPvideo/PinTfpClkP_c" TO CLKNET "top_reveal_coretop_instance/jtck[0]";
#BLOCK PATH FROM CLKNET "TOPvideo/uPll/Clk50" TO CLKNET "TOPvideo/PinTfpClkP_c";
#BLOCK PATH FROM CLKNET "TOPvideo/uPll/Clk50" TO CLKNET "SCLK_c";
#BLOCK PATH FROM CLKNET "TOPvideo/uPll/Clk50" TO CLKNET "PinClk125_c";
#BLOCK PATH FROM CLKNET "TOPvideo/uPll/Clk50" TO CLKNET "top_reveal_coretop_instance/jtck[0]";
#BLOCK PATH FROM CLKNET "SCLK_c" TO CLKNET "TOPvideo/PinTfpClkP_c";
#BLOCK PATH FROM CLKNET "SCLK_c" TO CLKNET "TOPvideo/uPll/Clk50";
#BLOCK PATH FROM CLKNET "SCLK_c" TO CLKNET "PinClk125_c";
#BLOCK PATH FROM CLKNET "SCLK_c" TO CLKNET "top_reveal_coretop_instance/jtck[0]";
#BLOCK PATH FROM CLKNET "PinClk125_c" TO CLKNET "TOPvideo/PinTfpClkP_c";
#BLOCK PATH FROM CLKNET "PinClk125_c" TO CLKNET "TOPvideo/uPll/Clk50";
#BLOCK PATH FROM CLKNET "PinClk125_c" TO CLKNET "SCLK_c";
#BLOCK PATH FROM CLKNET "PinClk125_c" TO CLKNET "top_reveal_coretop_instance/jtck[0]";
#BLOCK PATH FROM CLKNET "top_reveal_coretop_instance/jtck[0]" TO CLKNET "TOPvideo/PinTfpClkP_c";
#BLOCK PATH FROM CLKNET "top_reveal_coretop_instance/jtck[0]" TO CLKNET "TOPvideo/uPll/Clk50";
#BLOCK PATH FROM CLKNET "top_reveal_coretop_instance/jtck[0]" TO CLKNET "SCLK_c";
#BLOCK PATH FROM CLKNET "top_reveal_coretop_instance/jtck[0]" TO CLKNET "PinClk125_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
